<header class="header">
    <h2>Elixir Cross Referencer</h2>
    <nav>
        <ul class="nav-links">
            <li><a href="https://xairy.io/">xairy.io</a></li>
            <li><a href="https://xairy.io/trainings/">Trainings</a></li>
        </ul>
        <ul class="social-icons">
            <li><a target="_blank" class="icon-twitter" href="https://x.com/andreyknvl">twitter</a></li>
            <li><a target="_blank" class="icon-mastodon" href="https://infosec.exchange/@xairy">mastodon</a></li>
            <li><a target="_blank" class="icon-linkedin" href="https://www.linkedin.com/in/xairy">linkedin</a></li>
            <li><a target="_blank" class="icon-github" href="https://github.com/xairy">github</a></li>
        </ul>
    </nav>
</header>
